body{
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    overflow-x: hidden;
    background-color: #f8f9fa;
}

.img-principal{
    display: flex; 
    left: 0; 
    top: 0; 
    position: absolute; 
    margin: 0.3% 0 0 1%;
}
.div-menu{
  width: 70%;
}

.mobile, .desktop {
    display: none;
}
  
.custom-background {
    background-image: url('assets/bkg-logo.svg');
    background-size: 50%; /* Faz a imagem cobrir todo o fundo */
    background-position: top; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
}

::-webkit-scrollbar {
    width: 14px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background: #414141 /* linear-gradient(180deg, #414141, #80F4FF);
    border-radius: 10px; Bordas arredondadas do thumb */
    /* border: 2px solid white; */
}

/* ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #414141, #70D7E7); Gradiente mais escuro ao passar o mouse
}

::-webkit-scrollbar-thumb:active {
    background: linear-gradient(180deg, #414141, #5DBFC5); Gradiente ainda mais escuro ao clicar
} */

.container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; 
    flex-wrap: wrap; 
}
.container-infos {
    display: flex; 
    margin: 7% auto 0;
    background-color: rgba(255, 255, 255, 0.909); 
    border-radius: 9px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card {
    width: 200px; /* Ajuste conforme necessário */
    height: 200px; /* Define a altura igual à largura para criar um quadrado */
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-body i {
    margin-bottom: 1rem; /* Ajusta a margem inferior do ícone */
    font-size: 3rem; /* Ajusta o tamanho do ícone conforme necessário */
}


.fixed-icon {
    bottom: 20px; /* Distância do canto inferior da tela */
    font-size: 3rem; /* Ajuste o tamanho do ícone conforme necessário */
    color: #007bff; /* Cor do ícone, ajuste conforme necessário */
    z-index: 1000; /* Garante que o ícone fique acima de outros elementos */
}

.fixed-circle {
    position: fixed; /* Fixa o círculo no canto da tela */
    right: 20px; /* Distância do canto direito da tela */
    bottom: 20px; /* Distância do canto inferior da tela */
    width: 90px; /* Largura do círculo */
    height: 90px; /* Altura do círculo */
    background-color: #04c704; /* Cor de fundo do círculo */
    border-radius: 50%; /* Torna o elemento circular */
    display: flex; /* Centraliza o ícone dentro do círculo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    z-index: 1000; /* Garante que o círculo fique acima de outros elementos */
    transition: transform 0.3s ease; /* Suaviza a transição de escala */
}

.fixed-circle i {
    color: white; /* Cor do ícone */
    font-size: 2.8rem; /* Tamanho do ícone */
}

.fixed-circle:hover {
    transform: scale(1.2); /* Aumenta o tamanho do círculo e do ícone ao passar o mouse */
}

.carousel-control-prev-icon {
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 fill%3D%22%23007bff%22 viewBox%3D%220 0 16 16%22%3E%3Cpath fill-rule%3D%22evenodd%22 d%3D%22M11.354 15.354a.5.5 0 0 0 0-.708L5.707 9l5.647-5.646a.5.5 0 0 0-.708-.708l-6 6a.5.5 0 0 0 0 .708l6 6a.5.5 0 0 0 .708 0z%22/%3E%3C/svg%3E');
    background-size: 100% 100%;
  }
  
  /* Customizar o ícone da seta próxima (next) */
  .carousel-control-next-icon {
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 fill%3D%22%23007bff%22 viewBox%3D%220 0 16 16%22%3E%3Cpath fill-rule%3D%22evenodd%22 d%3D%22M4.646 15.354a.5.5 0 0 1 0-.708L10.293 9 4.646 3.354a.5.5 0 0 1 .708-.708l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708 0z%22/%3E%3C/svg%3E');
    background-size: 100% 100%;
  }
/* Exibe a div apenas em telas maiores (desktop) */
@media only screen and (min-width: 768px) {

    .navbar{
        justify-content: center;
        display: flex !important;
        align-items: center;
    }

    .container-menu{
        width: 100%;
    }
    .desktop {
        display: block;
    }

    .img-carrocel{
        /* height: 500px; */
    }
    .div-conteudo{
        /* display: flex; */
        width: 100%;
        align-items: center;
        justify-content: center;
    }    
    
    .titulo-sucesso{
        text-align: start;
    }

    .sub-titulo-conteudo{
        text-align: start;
    }

    .texto-conteudo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 90px;
        width: 90%;
        margin: 165px 0;
    }    

    .sub-titulo{
        display: inline-block;
        width: 100%;
    }
    .aval-carrocel{
        background: linear-gradient(180deg, #f8f9fa 44%, #ffffff 122%);
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 9px;
        margin: 0 auto;
        margin: 65px auto;
        padding: 30px;
    }

    .titulo-coment{
        display: inline-block;
        text-align: center;
        width: 100%;
        margin: auto;
    }

    .coment{
        display: flex;
        width: 100%;
        padding: 20px 0;
        justify-content: center;
        text-align: center;
        margin: auto;
    }
    .navbar-brand-mobile{
        display: none;
    }
    
    #carouselExampleInterval2{
        width: 50%;
    }

    .text-about{
        display: flex; 
        text-align: start; 
        width: 90%; 
        margin: 3% auto;
    }

    .image-div-slide{
        /* display: flex;
        margin-top: 5%; */
        justify-content: center;
    }

    .imagens-slide{       
        width: 100%; 
        margin: auto; 
        background: #181818;    
        box-shadow: rgba(208, 236, 238, 0.4) 5px 5px, rgba(208, 236, 238, 0.3) 10px 10px, rgba(208, 236, 238, 0.2) 15px 15px, 
        rgba(208, 236, 238, 0.1) 20px 20px, rgba(208, 236, 238, 0.05) 25px 25px;
    }

    .imagens-slide-mob{
        display: none!important;
    }

    .sobre{
        background-color: #212529fa;
        color: #c3c6c9;
    }
    .distancia{height:22vh;}
}
@media (max-width: 768px) {
    .img-principal{
        display: none!important;
    }
    .div-menu{
      width: 100%;
    }
    .container-menu{
        width: 100%!important;
        display: flex;
        justify-content: space-between;
        margin: 0 !important;
        padding: 0.5rem;
    }
    .navbar-brand{
        display: none;
    }

    .mobile {
        display: block;
    }

    #filterForm {
        margin-bottom: 20px;
    }

    #productList {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #carouselExampleInterval2{
        width: 100%!important;
    }

    .titulo-coment{
        text-align: center;
        width: 80%;
        margin: 20px auto 4rem;
    }

    .container{
        margin: 1rem auto!important;
    }

    .container-infos{
        margin: 4rem auto;
    }

    .card{
        height: 10rem!important;
    }

    .btn {
        color: #adb5bd!important;
        font-size: 22px!important;
        border: none;
    }
    .nav-link {
        color: #adb5bd!important;
        font-size: 22px!important;
        margin: 1rem auto!important;
    }

    .dropdown-menu{
        color: #adb5bd!important;
        font-size: 19px!important;
        border:none!important;
        text-align: center!important;
    }
    
    .dropdown-item{
        margin: 1rem auto!important;
    }
    
    .text-about{
        display: flex;
        text-align: left;
        width: 90%;
        margin: 4% auto 6%;
        line-height: 25px;
        letter-spacing: 0.15px;
    }

    .image-div-slide{
        /* display: block;
        margin-top: 5%; */
    }
    
    .imagens-slide{
        display: none!important;
    }

    .imagens-slide-mob{
        width: 100%!important; 
        margin: auto;
    }

    /* .img-carrocel img {
        height: 400px;    
        width: auto;      
        object-fit: cover;
        margin: 50px auto;
    } */
    .ted-h1{
        width: 76%;
        margin:3rem auto 0;
    }

    .texto-conteudo{
        margin-top: 30px;
    }
    .titulo-sucesso{
        margin-bottom: 20px;
    }

    .sobre{
        background-color: #212529fa;
        color: #c3c6c9;
        padding: 25px 5px;
    }

    .custom-background {
        background-image: none!important;
        width: 100%;
        margin: auto;
    }
    
}  